<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Python Imaging Library</string>
	<key>IFPkgDescriptionTitle</key>
	<string>PIL 1.1.7a2</string>
	<key>IFPkgDescriptionVersion</key>
	<string>1.1.7a2</string>
</dict>
</plist>
